@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-violet-600 h-screen w-screen grid place-items-center;
}

.header {
  @apply w-full mx-auto mb-10;
}

.header__img {
  @apply w-fit;
}

.board {
  @apply my-10 grid gap-4 grid-cols-3 grid-rows-3 place-items-center;
}

.cell__default {
  @apply border-2 border-violet-500 active:scale-75;
  transition: transform 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.cell__win {
  @apply shadow-2xl;
}

.reset__hidden {
  @apply w-20 mx-auto cursor-none opacity-0;
}

.reset__visible {
  @apply w-20 mx-auto cursor-pointer opacity-100 active:scale-75;
  transition: transform 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
